/* Estilos generales para páginas de la empresa */

body {
    background-color: aliceblue;
    padding: 15px;
}

h2 {
    background-color:cadetblue;
    color:white;
    text-align: center;
    padding: 15px;
}

hr {
    border: 10px solid rgb(87, 134, 87);
    border-radius: 5px;
}